.pie{
    height: 200px;
    width: 250px;
    background-color: #191c24;
    border-radius: 10px;
    border: 1px solid wheat;
}

.texty{
    display: flex;
    flex-direction: row;
    background-color: #191c24;
    height: 20px;
    margin: 0px 0px;
    padding: 0%;
    color: white;
    font-size: small;
    border-radius: 10px;
}

.texty h5{
    margin: 2px 5px;
    margin-right: 60px;
}

.piechart{
    height: 180px;
    width: 100%;
    border-radius: 10px;
    background-color: #191c24;
}